:root {
	background-color: #222;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #989696;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
}

.topnav a:hover {
  background-color: #51A50F;
  color: #FFFFFF;
}

.topnav a.logo {
  color: #f93838;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  float: left;
  flex-grow: 1;
}

.topnav a.logo:hover {
  background-color: #333;
}

.container {
  display: flex;
  overflow: hidden;
  background-color: #222;
  justify-content: space-evenly;
}

.text-coding {
  color: white;
  text-align: left;
  vertical-align: top;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
